{{#bp-column-layout crossAxis="cross-center" classNames="sign-in-container"}}
	{{#bp-row-layout classNames="sign-in-header mb-integer-6"}}
		{{#bp-text classNames="dataspell-text cursor-pointer" click=(action "toWelcomePage")}}{{t "login.name"}}{{/bp-text}}
		{{#bp-row-layout classNames="dataspell-line"}}{{/bp-row-layout}}
	{{/bp-row-layout}}
	{{outlet}}

	<div class="bottom-copyright">
		<div class="bottom-copyright-left">
			<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502041501">
				<div class="online-filing">
					<img src="https://components.pharbers.com/prod/offweb/public/presented_logo.png" class="presented-logo" />
					{{#bp-text class="ph-body-xsmall-tertiary"}}京公网安备11010502041501号{{/bp-text}}
				</div>
			</a>
			<a target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index" class="ph-body-xsmall-tertiary cursor-pointer">京ICP备15015746号-1</a>
		</div>

		{{#bp-text class="ph-body-xsmall-tertiary"}}
			© Copyright 2022 Pharbers Co.,Ltd.
		{{/bp-text}}
	</div>
{{/bp-column-layout}}
